/* FOOTER */

.anoun-footer-container {
  margin: 3rem 0 0 0;
  border-top: 1px #bfbfbf solid;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.anoun-footer-container > p:first-of-type {
  margin: 0 0 1rem 0;
}

#footer-name {
  font-family: "Playfair Display", serif;
}

.anoun-footer-profile__img {
  margin: 0.5rem 0 0 0;
  border-radius: 50%;
}

#igLogo {
  vertical-align: middle;
}