// WORK CARD

.anoun-work__container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
}

.anoun-work__container > a {
  margin: 1rem auto;
  padding-bottom: 0.5rem;
}

.anoun-work-responsive__img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.anoun-work-card-content__container {
  text-align: center;

  .material-icons {
    margin-left: 0.5px;
    vertical-align: middle;
  }

  h4 {
    margin: 1rem 0 0 0;
  }

  p {
    margin: 0 0 0.5rem 0;
    font-size: 0.8rem;
  }
}

/* TINY PHONE STYLES */

@media screen and (max-width: 320px) {
}

/* TABLET LAYOUT STYLES */
@media screen and (min-width: 768px) {
  .anoun-work-responsive__img {
    width: 100%;
    max-width: 480px;
    height: auto;
  }
}

/* WIDE LAYOUT STYLES */
@media screen and (min-width: 1024px) {
  .anoun-work__container {
    grid-template-columns: 1fr 1fr;
  }
}
