//app.scss

// # Table of Contents

// - GLOBAL STYLES
// - FOOTER
// - TINY PHONE STYLES
// - WIDE LAYOUT STYLES (DESKTOP)
@import './reset.scss';
@import './theme.scss';
@import './typography.scss';

/* GLOBAL STYLES */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--theme-bg);
    color: var(--theme-on-bg);
}

/* BUTTONS */

.anoun-hero-container--buttons {
    margin: 1.5rem 0 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.anoun-hero-container--buttons > a > button {
    flex: 0 0 auto;
}

.anoun-hero-container--buttons > a > button {
    margin-right: 4px;
    border-radius: 25px;
}

/* LINK CONTAINER */

.anoun-hero-link-container {
    display: block;
}

.anoun-hero-link--text {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0.25rem;
}

.anoun-hero-link--link {
    margin: -8px 0 0 2px;
    vertical-align: middle;
}

/* TINY PHONE STYLES */

@media screen and (max-width: 320px) {
    .anoun-hero-container--buttons > a > button {
        font-size: 9px;
    }
}

/* WIDE LAYOUT STYLES */
@media screen and (min-width: 1024px) {
    .anoun-hero-section {
        max-width: 756px;
        margin: 50px auto 20px auto;
    }

    .anoun-hero-container--buttons > a > button {
        margin-right: 8px;
    }
}
