// theme.scss

:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-secondary: #221122;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-background: #ffffff;
  --mdc-theme-on-background: #212121;
}