// theme.scss

:root {
  /* Colors */
  --theme-primary: #000000;
  --theme-on-primary: #ffffff;
  --theme-base: #ffffff;
  --theme-secondary: #000000;
  --theme-on-secondary: #ffffff;
  --theme-bg: #ffffff;
  --theme-on-bg: #000000;
}