@import '../styles/theme.scss';

.siteContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.siteMain {
    min-height: 100%;
    margin: 0 auto;
    max-width: 860px;
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .siteMain {
        max-width: 960px;
    }
}

.siteFooter {
position: absolute;
 bottom: 0;
 width: 100%;
  padding: 1.5em;
  margin: 3rem auto 0 auto;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  text-align: center;
}

#igLogo {
    vertical-align: middle;
}

